*{
  margin: 0;
  box-sizing: border-box;
}
header{
    background-color: #cb7676;
    width: 100%;
    height: 100px;
    padding: 2%;
    top:0;
}
html{
    font-size: 16px;
}
/*contenedor de menu*/

.nav-bg {
  background-color: #e4b6b6;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
  max-width: 996px;
  gap: 80px;
}
.navegacion-principal-contenedor {
  display: flex;
  flex-direction: column;              /*para establecer orden modo mobile*/
  margin-right: 40px;
  align-items: center;
}

.navegacion-principal-contenedor a{
  position:relative;
  display: block;
  text-align: center;
  color: #000000;
  font-family: 'Bona Nova';font-size: 22px;
  border-radius: 5px;
  padding: 20px;
  text-decoration: none;
 
  }
  .navegacion-principal-contenedor a:hover{
  color: #cb7676;               /* Color del texto al pasar el cursor */
  }
  
  /*contenedor texto e imágen*/
.contenedortextoimagen{
  justify-content:left;
  width: 80%;
  display: flex;
  border-radius: 10px;  
   
        }

        .cajatexto{
          background-color: #cb7676;;
          width: 100%;
      height: 260px;
      padding-top: 40px;
      padding-left: 200px;
      padding-right: 150px;
      flex-direction: column;
      align-items: center;            
      justify-content: left;
      border-radius: 10px;  
        }

        img{
          background: url(<path-to-image>), lightgray 50% / cover no-repeat;
          border-radius: 10px;
          margin-right: 10px;
          float:left;
          width: 272px;
          height: 260px;
         }

h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Bona Nova';font-size: 34px;
}
.subtitulos{
  color: #000000;
  text-align: left;
  font-family: 'Bona Nova';font-size: 22px;
  padding: 8px;
  right:70px
}

/*contenedor principal del sitio*/
.contenedorpagina{
  background-color:#ede5e0;
  justify-content: center;
  padding: 50px;
}
/*contenedor iconos de redes sociales*/
.redessociales{
  display: flex;
  justify-content: space-between;
  gap:40px;
  position: absolute;
  bottom: 40px;
  }
.redessociales a i{
  font-size: 30px;
  color: #000000;
}
.redessociales a i:hover{
  color: #cb7676;                /* Color del texto al pasar el cursor */
} 
 body{
    background-color: #ede5e0;
     justify-content: center;
     color: #0e0d0d; 
     display: flex;
     flex-direction: column;
     min-height: 100vh;
   }

.footer{
  display: flex;
  padding: 20px;
  background-color: #cb7676;
    width: 100%;
    height: 4em;
    flex:20%;
    bottom: 0;
    margin-top: auto;
}
.footertexto p{
  text-align: center;
}
    p{
      color: #0e0d0d;
    text-align: justify;
    font-family: 'Bona Nova';font-size: 18px;
    position: center;
    
    }


    @media (min-width: 768px) {               /*media query para establecer  orden modo desktop*/
      .navegacion-principal-contenedor {
          flex-direction: row;
          justify-content: space-between;
      }
      .footer{
        margin-top: 0;
      }
    }
    @media(max-width: 768px) {
   
      .header {
        height: 60px;
        margin-top: 0;
      }
    
    }
  
@media screen and  ( max-width: 690px) {
  .navegacion-principalcontenedor a{
        flex-direction: column;
        gap: 1rem;
        margin-top: 0;
        width: 30px;
        position: relative;
          overflow: visible;
          
        }
        h1{
          margin-top: 300px;
        
        }
        .footer{
          margin-bottom: 0;
        }
      }
@media (max-width: 768px) {
  .contenedortextoimagen  {
    display: block;
    height: 70px;
  }
  .redessociales a i{
    position: absolute;
    
  }
  .cajatexto {
    padding-left: 10px;
}
.redessociales a i{
  position: absolute;
  
}
footer{
  margin-bottom: 0;
}
}

@media (max-width: 510px) {
  .cajatexto {
      display: flexbox;
      font-size: 16px;
      padding-top: 40px;
      padding-right: 0px;
      height: 400px;
  }
  .cajatexto {
    display: flexbox;
    font-size: 16px;
    padding-top: 40px;
    padding-right: 0px;

}
.redessociales a i{
  position: absolute;
}
.footer{
  margin-bottom: 0;
}
}
@media (max-width: 420px){
  body {
      margin: 0;
      padding: 0;
    }
    .footer {
        margin: 0;
        padding: 0;
        margin-bottom: 0;
    }
    .redessociales a i{
      position: absolute;
      justify-content: space-between;
     gap:30px;
    }
  }
 
@media screen and  ( max-width: 690px) {
  .navegacion-principalcontenedor a{
        flex-direction: column;
        gap: 1rem;
        height:9em;
          margin-top: 0;
        }
        h1{
          margin-top: 300px;
        
        }
        header{
          height:6em;
          margin-top: 0;

        }
        .redessociales a i {
          position: absolute;
          justify-content: space-between;
           gap:30px;
           margin-top: 490px;

        }
        .footer{
          margin-bottom: 0;
          margin-top: 250px;
        }

      .cajatexto {
   height: 460px;
   width: 340px ;
    padding-top: 40px;
    padding-right: 0px;
  }
}

@media screen and  ( max-width: 695px) {
  .navegacion-principalcontenedor a{
        flex-direction: column;
        gap: 1rem;
        width:3em ;
        }
        h1{
          margin-top: 300px;
        
        }
        header{
          height:6em;
          margin-top: 0;

        }
        .redessociales a i {
          position: absolute;
          justify-content: space-between;
           gap:30px;
           margin-top: 490px;

        }
        .footer{
          margin-bottom: 0;
          margin-top: 250px;
        }

      .cajatexto {
   height: 460px;
   width: 340px ;
    padding-top: 40px;
    padding-right: 0px;
  }
}