*{
  margin:0;
    box-sizing: border-box;
    font-family: 'Bona Nova';font-size: 18px;;
}

header{
    background-color: #cb7676;
    width: 100%;
    height: 100px;
    padding: 2%;
    top:0;

}
/*contenedor de menu*/
.nav-bg {
    background-color: #e4b6b6;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
  max-width: 996px;
  gap: 80px;
  }
  .navegacion-principal-contenedor {
    display: flex;
  flex-direction: column;              /*para establecer orden modo mobile*/
  margin-right: 40px;
  align-items: center;
}

  .navegacion-principal-contenedor a{
    position:relative;
    flex: row;
    text-align: center;
    color: #000000;
    font-family: 'Bona Nova';font-size: 22px;
    border-radius: 5px;
    padding: 20px;
    text-decoration: none;
   
    }
    .navegacion-principal-contenedor a:hover{
    color: #cb7676;               /* Color del texto al pasar el cursor */
    }
  body{
    background-color:#ede5e0;
  }
    h1{
        text-align: center;
        margin-top: 2px;
        font-family: 'Bona Nova';font-size: 34px;
      }

.contenedor{
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
section{
border: 2px solid #cb7676;
border-radius: 7px;
padding: 10px;
margin: 10px 0;
}
label{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;
}
label:hover{
    background:#cb7676;
}
button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #76d7c8;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
button:hover{
    background: #000;
    color:#fff
}
h2{
    text-align: center;

}
#resultado{
    font-size: 30px;
    color: darkred;

}
@media (min-width: 768px) {               /*media query para establecer  orden modo desktop*/
    .navegacion-principal-contenedor {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer{
      margin-top: 0;
    }
  }
  @media(max-width: 768px) {
   
    .header {
      height: 60px;
      margin-top: 0;
    }
   .footer{
    margin-bottom: 0;
   }
  }

@media screen and  ( max-width: 690px) {
.navegacion-principalcontenedor a{
      flex-direction: column;
      gap: 1rem;
      margin-top: 0;
      }
      h1{
        margin-top: 300px;
      
      }
    }
@media (max-width: 768px) {
.contenedortextoimagen  {
  display: block;
  height: 70px;
}
.redessociales a i{
  position: absolute;
  
}
.cajatexto {
  padding-left: 10px;
}
.redessociales a i{
position: absolute;

}
footer{
margin-bottom: 0;
}
}

@media (max-width: 510px) {
.cajatexto {
    display: flexbox;
    font-size: 16px;
    padding-top: 40px;
    padding-right: 0px;
    height: 400px;
}
.cajatexto {
  display: flexbox;
  font-size: 16px;
  padding-top: 40px;
  padding-right: 0px;

}
.redessociales a i{
position: absolute;
}
.footer{
margin-bottom: 0;
}
}
@media (max-width: 420px){
body {
    margin: 0;
    padding: 0;
  }
  .footer {
      margin: 0;
      padding: 0;
      margin-bottom: 0;
  }
  .redessociales a i{
    position: absolute;
    justify-content: space-between;
   gap:30px;
  }
}

@media screen and  ( max-width: 690px) {
.navegacion-principalcontenedor a{
      flex-direction: column;
      gap: 1rem;
      }
      h1{
        margin-top: 300px;
      
      }
      header{
        height:6em;
        margin-top: 0;

      }
      .redessociales a i {
        position: absolute;
        justify-content: space-between;
         gap:30px;
         margin-top: 360px;
      }
      .footer{
        margin-bottom: 0;
      }
    
}
@media screen and  ( max-width: 695px) {
  .navegacion-principalcontenedor a{
        flex-direction: column;
        gap: 1rem;
        }
        h1{
          margin-top: 300px;
        
        }
        header{
          height:6em;
          margin-top: 0;

        }
        .redessociales a i {
          position: absolute;
          justify-content: space-between;
           gap:30px;
           margin-top: 490px;

        }
        .footer{
          margin-bottom: 0;
          margin-top: 250px;
        }

      .cajatexto {
   height: 460px;
   width: 340px ;
    padding-top: 40px;
    padding-right: 0px;
  }
}
 